In [29]:
import pandas as pd
import logging

# Log fayl manzili
log_path = r"C:\Users\Rasulbek907\Desktop\Project_8\Log\data_loader.log"

# Log sozlamalari
logging.basicConfig(
    filename=log_path,
    filemode='a',  # Append mode
    format='%(asctime)s - %(levelname)s - %(message)s',
    level=logging.INFO
)

try:
    logging.info("CSV fayl o'qilmoqda:...")
    df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_8\Data\Raw_Data\autos.csv")
    logging.info(f"Fayl muvaffaqiyatli o'qildi. Satırlar soni: {len(df)} ustunlar soni: {len(df.columns)}")
except Exception as e:
    logging.error(f"CSV faylni o'qishda xatolik: {e}")

In [15]:
df.head()

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,...,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,...,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,...,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,...,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,...,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                371528 non-null  int64
 1   dateCrawled          371528 non-null  object
 2   name                 371528 non-null  object
 3   seller               371528 non-null  object
 4   offerType            371528 non-null  object
 5   price                371528 non-null  int64
 6   abtest               371528 non-null  object
 7   vehicleType          333659 non-null  object
 8   yearOfRegistration   371528 non-null  int64
 9   gearbox              351319 non-null  object
 10  powerPS              371528 non-null  int64
 11  model                351044 non-null  object
 12  kilometer            371528 non-null  int64
 13  monthOfRegistration  371528 non-null  int64
 14  fuelType             338142 non-null  object
 15  brand                371528 non-null  object
 16  notRepairedDamage    299468 non-null  object
 17  dateCreated          371528 non-null  object
 18  nrOfPictures         371528 non-null  int64
 19  postalCode           371528 non-null  int64
 20  lastSeen             371528 non-null  object
dtypes: int64(8), object(13)
memory usage: 59.5+ MB

In [30]:
missing = df.isna().sum()
missing_percent = (missing / len(df)) * 100
missing_df = pd.DataFrame({'missing_count': missing, 'missing_percent': missing_percent})
print(missing_df.sort_values(by='missing_percent', ascending=False))

                     missing_count  missing_percent
notRepairedDamage            72060        19.395577
vehicleType                  37869        10.192771
fuelType                     33386         8.986133
model                        20484         5.513447
gearbox                      20209         5.439429
offerType                        0         0.000000
seller                           0         0.000000
name                             0         0.000000
dateCrawled                      0         0.000000
index                            0         0.000000
abtest                           0         0.000000
yearOfRegistration               0         0.000000
price                            0         0.000000
kilometer                        0         0.000000
powerPS                          0         0.000000
monthOfRegistration              0         0.000000
brand                            0         0.000000
dateCreated                      0         0.000000
nrOfPictures                     0         0.000000
postalCode                       0         0.000000
lastSeen                         0         0.000000

In [8]:
df["vehicleType"].unique()

array([nan, 'coupe', 'suv', 'kleinwagen', 'limousine', 'cabrio', 'bus',
       'kombi', 'andere'], dtype=object)

In [9]:
df["gearbox"].unique()

array(['manuell', 'automatik', nan], dtype=object)

In [10]:
df["gearbox"].unique()

array(['manuell', 'automatik', nan], dtype=object)

In [11]:
df["fuelType"].unique()

array(['benzin', 'diesel', nan, 'lpg', 'andere', 'hybrid', 'cng',
       'elektro'], dtype=object)

In [12]:
df["notRepairedDamage"].unique()

array([nan, 'ja', 'nein'], dtype=object)

In [18]:
columns_to_fill = ['vehicleType', 'gearbox', 'model', 'fuelType', 'notRepairedDamage']

for col in columns_to_fill:
    mode_value = df[col].mode()[0]  
    df[col].fillna(mode_value, inplace=True)

C:\maya_temp\ipykernel_11128\3604203200.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_value, inplace=True)

In [19]:
df.isna().sum()

index                  0
dateCrawled            0
name                   0
seller                 0
offerType              0
price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dateCreated            0
nrOfPictures           0
postalCode             0
lastSeen               0
dtype: int64

In [20]:
import sys
import os

# Scripts papkasini yo'lga qo'shamiz
source_path = r"C:\Users\Rasulbek907\Desktop\Project_8\Scripts"
if source_path not in sys.path:
    sys.path.append(source_path)

print("Python executable:", sys.executable)
print("Scripts path added:", source_path)

# Endi modulni import qilamiz
from data_preprosessing import MissingValueImputer, Encoder, Scaler

Python executable: c:\Users\Rasulbek907\Desktop\Project_8\mpvenv\Scripts\python.exe
Scripts path added: C:\Users\Rasulbek907\Desktop\Project_8\Scripts

In [21]:
imputer = MissingValueImputer(df).fill()
df = imputer.get_df()

C:\Users\Rasulbek907\Desktop\Project_8\Scripts\data_preprosessing.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(mode_value, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                371528 non-null  int64
 1   dateCrawled          371528 non-null  object
 2   name                 371528 non-null  object
 3   seller               371528 non-null  object
 4   offerType            371528 non-null  object
 5   price                371528 non-null  int64
 6   abtest               371528 non-null  object
 7   vehicleType          371528 non-null  object
 8   yearOfRegistration   371528 non-null  int64
 9   gearbox              371528 non-null  object
 10  powerPS              371528 non-null  int64
 11  model                371528 non-null  object
 12  kilometer            371528 non-null  int64
 13  monthOfRegistration  371528 non-null  int64
 14  fuelType             371528 non-null  object
 15  brand                371528 non-null  object
 16  notRepairedDamage    371528 non-null  object
 17  dateCreated          371528 non-null  object
 18  nrOfPictures         371528 non-null  int64
 19  postalCode           371528 non-null  int64
 20  lastSeen             371528 non-null  object
dtypes: int64(8), object(13)
memory usage: 59.5+ MB

In [22]:
encoder = Encoder(df).encodla()
df = encoder.get_df()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   371528 non-null  int64
 1   dateCrawled             371528 non-null  int64
 2   name                    371528 non-null  int64
 3   price                   371528 non-null  int64
 4   vehicleType             371528 non-null  int64
 5   yearOfRegistration      371528 non-null  int64
 6   powerPS                 371528 non-null  int64
 7   model                   371528 non-null  int64
 8   kilometer               371528 non-null  int64
 9   monthOfRegistration     371528 non-null  int64
 10  fuelType                371528 non-null  int64
 11  brand                   371528 non-null  int64
 12  dateCreated             371528 non-null  int64
 13  nrOfPictures            371528 non-null  int64
 14  postalCode              371528 non-null  int64
 15  lastSeen                371528 non-null  int64
 16  seller_gewerblich       371528 non-null  int64
 17  seller_privat           371528 non-null  int64
 18  offerType_Angebot       371528 non-null  int64
 19  offerType_Gesuch        371528 non-null  int64
 20  abtest_control          371528 non-null  int64
 21  abtest_test             371528 non-null  int64
 22  gearbox_automatik       371528 non-null  int64
 23  gearbox_manuell         371528 non-null  int64
 24  notRepairedDamage_ja    371528 non-null  int64
 25  notRepairedDamage_nein  371528 non-null  int64
dtypes: int64(26)
memory usage: 73.7 MB

In [25]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
scaler = MinMaxScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
print(df.head())

      index  dateCrawled      name         price  vehicleType  \
0  0.000000     0.586679  0.339173  2.235174e-07     0.857143
1  0.000003     0.585720  0.017608  8.521602e-06     0.428571
2  0.000005     0.272956  0.387805  4.563481e-06     1.000000
3  0.000008     0.378625  0.327975  6.984919e-07     0.571429
4  0.000011     0.824117  0.730069  1.676381e-06     0.571429

   yearOfRegistration  powerPS  model  kilometer  monthOfRegistration  ...  \
0            0.110346  0.00000  0.472   1.000000             0.000000  ...
1            0.112346  0.00950  0.472   0.827586             0.416667  ...
2            0.111568  0.00815  0.476   0.827586             0.666667  ...
3            0.111235  0.00375  0.472   1.000000             0.500000  ...
4            0.112012  0.00345  0.412   0.586207             0.583333  ...

   seller_gewerblich  seller_privat  offerType_Angebot  offerType_Gesuch  \
0                0.0            1.0                1.0               0.0
1                0.0            1.0                1.0               0.0
2                0.0            1.0                1.0               0.0
3                0.0            1.0                1.0               0.0
4                0.0            1.0                1.0               0.0

   abtest_control  abtest_test  gearbox_automatik  gearbox_manuell  \
0             0.0          1.0                0.0              1.0
1             0.0          1.0                0.0              1.0
2             0.0          1.0                1.0              0.0
3             0.0          1.0                0.0              1.0
4             0.0          1.0                0.0              1.0

   notRepairedDamage_ja  notRepairedDamage_nein
0                   0.0                     1.0
1                   1.0                     0.0
2                   0.0                     1.0
3                   0.0                     1.0
4                   0.0                     1.0

[5 rows x 26 columns]

In [26]:
df.head()

,index,dateCrawled,name,price,vehicleType,yearOfRegistration,powerPS,model,kilometer,monthOfRegistration,...,seller_gewerblich,seller_privat,offerType_Angebot,offerType_Gesuch,abtest_control,abtest_test,gearbox_automatik,gearbox_manuell,notRepairedDamage_ja,notRepairedDamage_nein
0,0.000000,0.586679,0.339173,2.235174e-07,0.857143,0.110346,0.00000,0.472,1.000000,0.000000,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
1,0.000003,0.585720,0.017608,8.521602e-06,0.428571,0.112346,0.00950,0.472,0.827586,0.416667,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.000005,0.272956,0.387805,4.563481e-06,1.000000,0.111568,0.00815,0.476,0.827586,0.666667,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
3,0.000008,0.378625,0.327975,6.984919e-07,0.571429,0.111235,0.00375,0.472,1.000000,0.500000,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,0.000011,0.824117,0.730069,1.676381e-06,0.571429,0.112012,0.00345,0.412,0.586207,0.583333,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0

In [28]:
df.to_csv(r"C:\Users\Rasulbek907\Desktop\Project_8\Data\Preprocessing\Preprosessed.csv")