In [2]:
import pandas as pd
import logging

# Log fayl manzili
log_path = r"C:\Users\Rasulbek907\Desktop\Project_8\Log\data_loader.log"

# Log sozlamalari
logging.basicConfig(
    filename=log_path,
    filemode='a',  # Append mode
    format='%(asctime)s - %(levelname)s - %(message)s',
    level=logging.INFO
)

try:
    logging.info("CSV fayl o'qilmoqda:...")
    df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_8\Data\Raw_Data\autos.csv")
    logging.info(f"Fayl muvaffaqiyatli o'qildi. Satırlar soni: {len(df)} ustunlar soni: {len(df.columns)}")
except Exception as e:
    logging.error(f"CSV faylni o'qishda xatolik: {e}")

In [5]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Cars-Kilometer-Prediction-\Data\Raw_Data\filtered.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322278 entries, 0 to 322277
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           322278 non-null  int64
 1   index                322278 non-null  int64
 2   dateCrawled          322278 non-null  object
 3   name                 322278 non-null  object
 4   seller               322278 non-null  object
 5   offerType            322278 non-null  object
 6   price                322278 non-null  int64
 7   abtest               322278 non-null  object
 8   vehicleType          322278 non-null  object
 9   yearOfRegistration   322278 non-null  int64
 10  gearbox              322278 non-null  object
 11  powerPS              322278 non-null  int64
 12  model                322278 non-null  object
 13  kilometer            322278 non-null  int64
 14  monthOfRegistration  322278 non-null  int64
 15  fuelType             322278 non-null  object
 16  brand                322278 non-null  object
 17  notRepairedDamage    322278 non-null  object
 18  dateCreated          322278 non-null  object
 19  nrOfPictures         322278 non-null  int64
 20  postalCode           322278 non-null  int64
 21  lastSeen             322278 non-null  object
dtypes: int64(9), object(13)
memory usage: 54.1+ MB

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                371528 non-null  int64
 1   dateCrawled          371528 non-null  object
 2   name                 371528 non-null  object
 3   seller               371528 non-null  object
 4   offerType            371528 non-null  object
 5   price                371528 non-null  int64
 6   abtest               371528 non-null  object
 7   vehicleType          333659 non-null  object
 8   yearOfRegistration   371528 non-null  int64
 9   gearbox              351319 non-null  object
 10  powerPS              371528 non-null  int64
 11  model                351044 non-null  object
 12  kilometer            371528 non-null  int64
 13  monthOfRegistration  371528 non-null  int64
 14  fuelType             338142 non-null  object
 15  brand                371528 non-null  object
 16  notRepairedDamage    299468 non-null  object
 17  dateCreated          371528 non-null  object
 18  nrOfPictures         371528 non-null  int64
 19  postalCode           371528 non-null  int64
 20  lastSeen             371528 non-null  object
dtypes: int64(8), object(13)
memory usage: 59.5+ MB

In [5]:
missing = df.isna().sum()
missing_percent = (missing / len(df)) * 100
missing_df = pd.DataFrame({'missing_count': missing, 'missing_percent': missing_percent})
print(missing_df.sort_values(by='missing_percent', ascending=False))

                     missing_count  missing_percent
notRepairedDamage            72060        19.395577
vehicleType                  37869        10.192771
fuelType                     33386         8.986133
model                        20484         5.513447
gearbox                      20209         5.439429
offerType                        0         0.000000
seller                           0         0.000000
name                             0         0.000000
dateCrawled                      0         0.000000
index                            0         0.000000
abtest                           0         0.000000
yearOfRegistration               0         0.000000
price                            0         0.000000
kilometer                        0         0.000000
powerPS                          0         0.000000
monthOfRegistration              0         0.000000
brand                            0         0.000000
dateCreated                      0         0.000000
nrOfPictures                     0         0.000000
postalCode                       0         0.000000
lastSeen                         0         0.000000

In [8]:
df["vehicleType"].unique()

array([nan, 'coupe', 'suv', 'kleinwagen', 'limousine', 'cabrio', 'bus',
       'kombi', 'andere'], dtype=object)

In [9]:
df["gearbox"].unique()

array(['manuell', 'automatik', nan], dtype=object)

In [10]:
df["gearbox"].unique()

array(['manuell', 'automatik', nan], dtype=object)

In [11]:
df["fuelType"].unique()

array(['benzin', 'diesel', nan, 'lpg', 'andere', 'hybrid', 'cng',
       'elektro'], dtype=object)

In [12]:
df["notRepairedDamage"].unique()

array([nan, 'ja', 'nein'], dtype=object)

In [6]:
columns_to_fill = ['vehicleType', 'gearbox', 'model', 'fuelType', 'notRepairedDamage']

for col in columns_to_fill:
    mode_value = df[col].mode()[0]  
    df[col].fillna(mode_value, inplace=True)

C:\maya_temp\ipykernel_17624\3604203200.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_value, inplace=True)

In [7]:
df.isna().sum()

index                  0
dateCrawled            0
name                   0
seller                 0
offerType              0
price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dateCreated            0
nrOfPictures           0
postalCode             0
lastSeen               0
dtype: int64

In [17]:
import pandas as pd

# Ikkala shart bo'yicha filterlash
filtered_df = df[
    (df["yearOfRegistration"] >= 1990) & (df["yearOfRegistration"] <= 2025) &
    (df["powerPS"] >= 10) & (df["powerPS"] <= 2000)
]

# Natijani ko'rish
print(filtered_df)

         index          dateCrawled  \
1            1  2016-03-24 10:58:45
2            2  2016-03-14 12:52:21
3            3  2016-03-17 16:54:04
4            4  2016-03-31 17:25:20
5            5  2016-04-04 17:36:23
...        ...                  ...
371520  371520  2016-03-19 19:53:49
371524  371524  2016-03-05 19:56:21
371525  371525  2016-03-19 18:57:12
371526  371526  2016-03-20 19:41:08
371527  371527  2016-03-07 19:39:19

                                                     name  seller offerType  \
1                                    A5_Sportback_2.7_Tdi  privat   Angebot
2                          Jeep_Grand_Cherokee_"Overland"  privat   Angebot
3                                      GOLF_4_1_4__3TÜRER  privat   Angebot
4                          Skoda_Fabia_1.4_TDI_PD_Classic  privat   Angebot
5       BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...  privat   Angebot
...                                                   ...     ...       ...
371520                                       turbo_defekt  privat   Angebot
371524              Smart_smart_leistungssteigerung_100ps  privat   Angebot
371525                 Volkswagen_Multivan_T4_TDI_7DC_UY2  privat   Angebot
371526                             VW_Golf_Kombi_1_9l_TDI  privat   Angebot
371527       BMW_M135i_vollausgestattet_NP_52.720____Euro  privat   Angebot

        price   abtest vehicleType  yearOfRegistration    gearbox  ...  \
1       18300     test       coupe                2011    manuell  ...
2        9800     test         suv                2004  automatik  ...
3        1500     test  kleinwagen                2001    manuell  ...
4        3600     test  kleinwagen                2008    manuell  ...
5         650     test   limousine                1995    manuell  ...
...       ...      ...         ...                 ...        ...  ...
371520   3200  control   limousine                2004    manuell  ...
371524   1199     test      cabrio                2000  automatik  ...
371525   9200     test         bus                1996    manuell  ...
371526   3400     test       kombi                2002    manuell  ...
371527  28990  control   limousine                2013    manuell  ...

              model kilometer  monthOfRegistration  fuelType       brand  \
1              golf    125000                    5    diesel        audi
2             grand    125000                    8    diesel        jeep
3              golf    150000                    6    benzin  volkswagen
4             fabia     90000                    7    diesel       skoda
5               3er    150000                   10    benzin         bmw
...             ...       ...                  ...       ...         ...
371520         leon    150000                    5    benzin        seat
371524       fortwo    125000                    3    benzin       smart
371525  transporter    150000                    3    diesel  volkswagen
371526         golf    150000                    6    diesel  volkswagen
371527      m_reihe     50000                    8    benzin         bmw

       notRepairedDamage          dateCreated nrOfPictures  postalCode  \
1                     ja  2016-03-24 00:00:00            0       66954
2                   nein  2016-03-14 00:00:00            0       90480
3                   nein  2016-03-17 00:00:00            0       91074
4                   nein  2016-03-31 00:00:00            0       60437
5                     ja  2016-04-04 00:00:00            0       33775
...                  ...                  ...          ...         ...
371520                ja  2016-03-19 00:00:00            0       96465
371524              nein  2016-03-05 00:00:00            0       26135
371525              nein  2016-03-19 00:00:00            0       87439
371526              nein  2016-03-20 00:00:00            0       40764
371527              nein  2016-03-07 00:00:00            0       73326

                   lastSeen
1       2016-04-07 01:46:50
2       2016-04-05 12:47:46
3       2016-03-17 17:40:17
4       2016-04-06 10:17:21
5       2016-04-06 19:17:07
...                     ...
371520  2016-03-19 20:44:43
371524  2016-03-11 18:17:12
371525  2016-04-07 07:15:26
371526  2016-03-24 12:45:21
371527  2016-03-22 03:17:10

[322278 rows x 21 columns]

In [18]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 322278 entries, 1 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                322278 non-null  int64
 1   dateCrawled          322278 non-null  object
 2   name                 322278 non-null  object
 3   seller               322278 non-null  object
 4   offerType            322278 non-null  object
 5   price                322278 non-null  int64
 6   abtest               322278 non-null  object
 7   vehicleType          322278 non-null  object
 8   yearOfRegistration   322278 non-null  int64
 9   gearbox              322278 non-null  object
 10  powerPS              322278 non-null  int64
 11  model                322278 non-null  object
 12  kilometer            322278 non-null  int64
 13  monthOfRegistration  322278 non-null  int64
 14  fuelType             322278 non-null  object
 15  brand                322278 non-null  object
 16  notRepairedDamage    322278 non-null  object
 17  dateCreated          322278 non-null  object
 18  nrOfPictures         322278 non-null  int64
 19  postalCode           322278 non-null  int64
 20  lastSeen             322278 non-null  object
dtypes: int64(8), object(13)
memory usage: 54.1+ MB

In [ ]:
df["powerPS"]

0           0
1         190
2         163
3          75
4          69
         ...
371523      0
371524    101
371525    102
371526    100
371527    320
Name: powerPS, Length: 371528, dtype: int64

In [22]:
import pandas as pd

# Minimal qiymat
min_power = df["notRepairedDamage"].min()

# Maksimal qiymat
max_power = df["notRepairedDamage"].max()

print(f"Minimal notRepairedDamage: {min_power}")
print(f"Maksimal notRepairedDamage: {max_power}")

Minimal notRepairedDamage: ja
Maksimal notRepairedDamage: nein

In [35]:
filtered_df.to_csv(r"C:\Users\Rasulbek907\Desktop\Project_8\Data\Raw_Data\filtered.csv")

In [36]:
df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_8\Data\Raw_Data\filtered.csv")

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322278 entries, 0 to 322277
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           322278 non-null  int64
 1   index                322278 non-null  int64
 2   dateCrawled          322278 non-null  object
 3   name                 322278 non-null  object
 4   seller               322278 non-null  object
 5   offerType            322278 non-null  object
 6   price                322278 non-null  int64
 7   abtest               322278 non-null  object
 8   vehicleType          322278 non-null  object
 9   yearOfRegistration   322278 non-null  int64
 10  gearbox              322278 non-null  object
 11  powerPS              322278 non-null  int64
 12  model                322278 non-null  object
 13  kilometer            322278 non-null  int64
 14  monthOfRegistration  322278 non-null  int64
 15  fuelType             322278 non-null  object
 16  brand                322278 non-null  object
 17  notRepairedDamage    322278 non-null  object
 18  dateCreated          322278 non-null  object
 19  nrOfPictures         322278 non-null  int64
 20  postalCode           322278 non-null  int64
 21  lastSeen             322278 non-null  object
dtypes: int64(9), object(13)
memory usage: 54.1+ MB

In [38]:
import sys
import os

# Scripts papkasini yo'lga qo'shamiz
source_path = r"C:\Users\Rasulbek907\Desktop\Project_8\Scripts"
if source_path not in sys.path:
    sys.path.append(source_path)

print("Python executable:", sys.executable)
print("Scripts path added:", source_path)

# Endi modulni import qilamiz
from data_preprosessing import MissingValueImputer, Encoder, Scaler

Python executable: c:\Users\Rasulbek907\Desktop\Project_8\mpvenv\Scripts\python.exe
Scripts path added: C:\Users\Rasulbek907\Desktop\Project_8\Scripts

In [39]:
imputer = MissingValueImputer(df).fill()
df = imputer.get_df()

C:\Users\Rasulbek907\Desktop\Project_8\Scripts\data_preprosessing.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(mode_value, inplace=True)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322278 entries, 0 to 322277
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           322278 non-null  int64
 1   index                322278 non-null  int64
 2   dateCrawled          322278 non-null  object
 3   name                 322278 non-null  object
 4   seller               322278 non-null  object
 5   offerType            322278 non-null  object
 6   price                322278 non-null  int64
 7   abtest               322278 non-null  object
 8   vehicleType          322278 non-null  object
 9   yearOfRegistration   322278 non-null  int64
 10  gearbox              322278 non-null  object
 11  powerPS              322278 non-null  int64
 12  model                322278 non-null  object
 13  kilometer            322278 non-null  int64
 14  monthOfRegistration  322278 non-null  int64
 15  fuelType             322278 non-null  object
 16  brand                322278 non-null  object
 17  notRepairedDamage    322278 non-null  object
 18  dateCreated          322278 non-null  object
 19  nrOfPictures         322278 non-null  int64
 20  postalCode           322278 non-null  int64
 21  lastSeen             322278 non-null  object
dtypes: int64(9), object(13)
memory usage: 54.1+ MB

In [41]:
encoder = Encoder(df).encodla()
df = encoder.get_df()

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322278 entries, 0 to 322277
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              322278 non-null  int64
 1   index                   322278 non-null  int64
 2   dateCrawled             322278 non-null  int64
 3   name                    322278 non-null  int64
 4   price                   322278 non-null  int64
 5   vehicleType             322278 non-null  int64
 6   yearOfRegistration      322278 non-null  int64
 7   powerPS                 322278 non-null  int64
 8   model                   322278 non-null  int64
 9   kilometer               322278 non-null  int64
 10  monthOfRegistration     322278 non-null  int64
 11  fuelType                322278 non-null  int64
 12  brand                   322278 non-null  int64
 13  dateCreated             322278 non-null  int64
 14  nrOfPictures            322278 non-null  int64
 15  postalCode              322278 non-null  int64
 16  lastSeen                322278 non-null  int64
 17  seller_gewerblich       322278 non-null  int64
 18  seller_privat           322278 non-null  int64
 19  offerType_Angebot       322278 non-null  int64
 20  offerType_Gesuch        322278 non-null  int64
 21  abtest_control          322278 non-null  int64
 22  abtest_test             322278 non-null  int64
 23  gearbox_automatik       322278 non-null  int64
 24  gearbox_manuell         322278 non-null  int64
 25  notRepairedDamage_ja    322278 non-null  int64
 26  notRepairedDamage_nein  322278 non-null  int64
dtypes: int64(27)
memory usage: 66.4 MB

In [43]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
scaler = MinMaxScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
print(df.head())

   Unnamed: 0     index  dateCrawled      name         price  vehicleType  \
0    0.000000  0.000000     0.584454  0.015422  8.521602e-06     0.428571
1    0.000003  0.000003     0.273117  0.391083  4.563481e-06     1.000000
2    0.000005  0.000005     0.378148  0.332203  6.984919e-07     0.571429
3    0.000008  0.000008     0.823166  0.733871  1.676381e-06     0.571429
4    0.000011  0.000011     0.965794  0.119477  3.026798e-07     0.857143

   yearOfRegistration   powerPS     model  kilometer  ...  seller_gewerblich  \
0            0.724138  0.090452  0.475806   0.827586  ...                0.0
1            0.482759  0.076884  0.479839   0.827586  ...                0.0
2            0.379310  0.032663  0.475806   1.000000  ...                0.0
3            0.620690  0.029648  0.415323   0.586207  ...                0.0
4            0.172414  0.046231  0.044355   1.000000  ...                0.0

   seller_privat  offerType_Angebot  offerType_Gesuch  abtest_control  \
0            1.0                1.0               0.0             0.0
1            1.0                1.0               0.0             0.0
2            1.0                1.0               0.0             0.0
3            1.0                1.0               0.0             0.0
4            1.0                1.0               0.0             0.0

   abtest_test  gearbox_automatik  gearbox_manuell  notRepairedDamage_ja  \
0          1.0                0.0              1.0                   1.0
1          1.0                1.0              0.0                   0.0
2          1.0                0.0              1.0                   0.0
3          1.0                0.0              1.0                   0.0
4          1.0                0.0              1.0                   1.0

   notRepairedDamage_nein
0                     0.0
1                     1.0
2                     1.0
3                     1.0
4                     0.0

[5 rows x 27 columns]

In [44]:
df.head()

,Unnamed: 0,index,dateCrawled,name,price,vehicleType,yearOfRegistration,powerPS,model,kilometer,...,seller_gewerblich,seller_privat,offerType_Angebot,offerType_Gesuch,abtest_control,abtest_test,gearbox_automatik,gearbox_manuell,notRepairedDamage_ja,notRepairedDamage_nein
0,0.000000,0.000000,0.584454,0.015422,8.521602e-06,0.428571,0.724138,0.090452,0.475806,0.827586,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
1,0.000003,0.000003,0.273117,0.391083,4.563481e-06,1.000000,0.482759,0.076884,0.479839,0.827586,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
2,0.000005,0.000005,0.378148,0.332203,6.984919e-07,0.571429,0.379310,0.032663,0.475806,1.000000,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
3,0.000008,0.000008,0.823166,0.733871,1.676381e-06,0.571429,0.620690,0.029648,0.415323,0.586207,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,0.000011,0.000011,0.965794,0.119477,3.026798e-07,0.857143,0.172414,0.046231,0.044355,1.000000,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322278 entries, 0 to 322277
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              322278 non-null  float64
 1   index                   322278 non-null  float64
 2   dateCrawled             322278 non-null  float64
 3   name                    322278 non-null  float64
 4   price                   322278 non-null  float64
 5   vehicleType             322278 non-null  float64
 6   yearOfRegistration      322278 non-null  float64
 7   powerPS                 322278 non-null  float64
 8   model                   322278 non-null  float64
 9   kilometer               322278 non-null  float64
 10  monthOfRegistration     322278 non-null  float64
 11  fuelType                322278 non-null  float64
 12  brand                   322278 non-null  float64
 13  dateCreated             322278 non-null  float64
 14  nrOfPictures            322278 non-null  float64
 15  postalCode              322278 non-null  float64
 16  lastSeen                322278 non-null  float64
 17  seller_gewerblich       322278 non-null  float64
 18  seller_privat           322278 non-null  float64
 19  offerType_Angebot       322278 non-null  float64
 20  offerType_Gesuch        322278 non-null  float64
 21  abtest_control          322278 non-null  float64
 22  abtest_test             322278 non-null  float64
 23  gearbox_automatik       322278 non-null  float64
 24  gearbox_manuell         322278 non-null  float64
 25  notRepairedDamage_ja    322278 non-null  float64
 26  notRepairedDamage_nein  322278 non-null  float64
dtypes: float64(27)
memory usage: 66.4 MB

In [46]:
df.to_csv(r"C:\Users\Rasulbek907\Desktop\Project_8\Data\Preprocessing\Preprosessed.csv")

In [3]:
from IPython.display import display, HTML

display(HTML("""
<a href="file:///C:/Users/Rasulbek907/Desktop/Project_8/Data/Preprocessing/Preprosessed.csv" target="_blank" style="
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2196F3;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
">
Open Preprocessed CSV
</a>
"""))

In [1]:
from IPython.display import display, HTML

# Clickable link (button ko‘rinishida)
display(HTML("""
<a href="feature_analysis.ipynb" target="_self" style="
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
">
Next Step
</a>
"""))